[2016-07-18 10:13] plfiorini opened #1 "Make sure we provide good security for download links"
In order to give a good first impression we must provide secure download links.
Here's some suggestions: http://worldwidemann.com/the-sad-state-of-linux-download-security/

[2016-07-22 04:51] plfiorini opened #2 "Complete merge"
Merge Hawaii and Papyros repositories.

[2016-07-22 04:54] plfiorini opened #3 "Port to QtQuick Controls 2.0 and Fluid"
- [x] Settings
- [x] Shell
- [x] AppCenter

[2016-08-05 12:54] #2 closed

[2016-08-23 14:29] #3 closed

[2016-08-24 17:06] plfiorini opened #4 "Replace Q_FOREACH with C++ 11 range loop"
@plfiorini commented on [Wed Aug 24 2016](https://github.com/qmlos/shell/issues/52)

http://doc.qt.io/qt-5/qtglobal.html#Q_FOREACH

---

@eyelash commented on [Wed Aug 24 2016](https://github.com/qmlos/shell/issues/52#issuecomment-242101754)

see also the discussion in lxde/lxqt#1060

[2016-08-24 22:13] iBelieve opened #5 "Use this repo as a superbuild to checkout and build all projects"
Like https://github.com/lxde/lxqt

[2016-08-24 22:16] plfiorini commented on #5
@iBeliever what about using repo manifest like https://github.com/hawaii-desktop/hawaii (still in this repo)?

[2016-08-24 22:17] plfiorini commented on #5
i was using git submodules back then but it's difficult to keep track of the right submodule revision and requires extra maintainance (checkout the last revision and commit)

[2016-08-24 22:19] iBeliever commented on #5
I haven't seen that repo tool, but it looks nicer than using submodules, so it's fine by me. The main thing I'd like to see is just a way to get all the repos and build from one CMake config like lxqt is doing.

[2016-08-24 22:25] plfiorini commented on #5
that would be cool i can try

[2016-08-26 10:45] plfiorini opened #6 "Bot to inspect PRs"
We should have a bot that does some checks before a PR can be merge, that is:

- Verify if the appropriate license and copyright notice was used
- Spell checking the commit message
- Check formatting with clang-format

The bot will use the GitHub status check API so we can integrate it.

[2016-08-26 10:47] plfiorini opened #7 "Forum"
Install Discourse on the server

[2016-08-26 13:19] marioguerriero opened #8 "Getting more done in GitHub with ZenHub"
Hola! @marioguerriero has created a [ZenHub](http://www.zenhub.com) account for the **qmlos** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.com?utm_source=ZHOn

[2016-08-26 13:22] plfiorini commented on #8
@marioguerriero How did this issue get posted? :)

[2016-08-26 13:33] #8 closed

[2016-08-29 16:41] marioguerriero commented on #8
Ehm, sorry but I don't know. I just saw this repo and clicked on the ZenHub banner. Sorry but I think it was automatically generated

[2016-08-29 17:30] plfiorini commented on #8
Don't worry I was just curious.

[2016-08-29 21:23] plfiorini commented on #7
@iBeliever can DigitalOcean hold another instance for this/do we have budget for it?

[2016-08-31 11:40] plfiorini commented on #5
Done, needs testing.

[2016-09-15 18:49] plfiorini opened #9 "Cache Arch Travis"
It would be cool if we could cache Arch Travis file system after the first build to speed things up.

[2016-09-15 18:54] plfiorini opened #10 "CI artifacts archive"
Instead of building the Arch Linux packages we could use the binaries from the actual CI build and avoid an additional and unnecessary build.

[2016-09-21 10:37] plfiorini opened #11 "Travis CI builds"
Build all repositories with Travis CI, Arch Travis and use Bintray deployment.

[2016-09-21 10:37] #11 closed

[2016-10-03 06:13] plfiorini commented on #6
An example is: https://jorisroovers.github.io/gitlint/

[2016-10-03 19:45] plfiorini opened #12 "Issue template and contribution guidelines"
Other projects have those, like: https://github.com/limetext/lime/tree/master/.github

[2016-10-04 21:35] plfiorini opened #13 "Rename to Liri"
Rename all repository contents to Liri.

[2016-10-11 10:58] plfiorini opened #14 "qmlos Archlinux packages"
@ceyhunnabiyev commented on [Fri Sep 16 2016](https://github.com/lirios/shell/issues/62)

Could  you please provide   downloading and installing lirios packages from Archlinux repository  (AUR or other repository)??

---

@SunRain commented on [Sun Sep 25 2016](https://github.com/lirios/shell/issues/62#issuecomment-249406061)

+1 for aur

---

@itcurious commented on [Sun Sep 25 2016](https://gith

[2016-10-12 21:13] #13 closed

[2016-10-13 20:17] plfiorini commented on #14
Packages uploaded to AUR!
@zigapk please do the honors testing them :D

[2016-10-13 20:17] #14 closed

[2016-10-13 20:18] plfiorini commented on #14
`yaourt -S liri-shell-git liri-files-git liri-appcenter-git liri-settings-git` should be enough to pull all the dependencies

[2016-10-14 19:36] plfiorini opened #15 "QA test cases"
We need to do QA test cases and possibly automate the tests with openQA.

[2016-10-17 19:58] plfiorini opened #16 "Evaluate Rocket Chat instead of Slack"
It's Open Source and self hosted: https://rocket.chat/

[2016-10-17 21:10] oKcerG commented on #16
What about Mattermost ? open source and self hosted too https://www.mattermost.org/

[2016-10-25 10:55] #1 closed

[2017-01-10 16:36] plfiorini opened #18 "MD symbolic icons missing on VMware"
Some MD symbolic icons are not rendered on VMware.
This cannot be reproduced neither on bare metal nor on qemu-kvm.

[2017-01-10 20:26] plfiorini opened #19 "livecd: Calamares won't change keyboard layout"
Calamares changes keymap using X11 programs like setxkbmap that of course do not work on Wayland.
On Wayland the compositor is supposed to select the keymap but there is no protocol to ask the compositor to do so. This means that changing keyboard layout from Calamares won't have any effect on Liri.

[2017-01-10 20:31] plfiorini commented on #19
See also http://who-t.blogspot.it/2016/12/the-future-of-xinput-xmodmap-setxkbmap.html

[2017-01-10 20:41] plfiorini opened #20 "Calamares crashes on qemu"
Calamares crashes as soon as the window is made visible, but only on qemu.
VMware and bare metal (Intel GPU) do not seem to be affected.
It might be fixed by https://codereview.qt-project.org/#/c/164162/ which is going to be released with Qt 5.8.0, so we might want to test again before releasing Liri OS 0.10.0.

[2017-01-15 10:03] kq01526 opened #21 "Qt Virtual Keyboard?"
@plfiorini :

If I understand it correctly, you had added Qt Virtual Keyboard to Hawaii:

http://plfiorini.blogspot.com/2016/04/qt-virtual-keyboard-support-on-hawaii.html
https://github.com/hawaii-desktop/hawaii-shell/issues/219
https://github.com/greenisland/greenisland/issues/193
https://github.com/hawaii-desktop/hawaii-workspace/issues/4
https://github.com/hawaii-desktop/hawaii-system-preferenc

[2017-01-15 10:06] kq01526 opened #22 "Please add option to adjust output RGB range"
Hi,

when using X, it's possible to adjust the Intel driver's Broadcast RGB setting via xrandr like this:

`xrandr --output OUTPUT --set "Broadcast RGB" "Full"`

or:

`xrandr --output OUTPUT --set "Broadcast RGB" "Limited 16:235"`

or:

`xrandr --output OUTPUT --set "Broadcast RGB" "Automatic"`

Unfortunately the Intel driver now sets this to "Automatic" by default and "Automatic" doesn't really s

[2017-01-15 10:08] kq01526 commented on #22
And there's no kernel parameter for it, see:

https://bugs.freedesktop.org/show_bug.cgi?id=96489

So if the Wayland compositor does not provide an option to adjust it, you're pretty much stuck.

I guess this is the list of all those "connector properties":

https://01.org/linuxgraphics/gfx-docs/drm/drm-kms-properties.html

?

[2017-01-15 12:17] Conan-Kudo opened #23 "Consider using Fedora as a base instead of Arch"
In the [Welcome to Liri blog post](https://liri.io/blog/2017/01/01/welcome-to-liri.html), you mention the following quote:

Perhaps consider using [Fedora](https://getfedora.org/) as a base instead of Arch. The Fedora Qt/KDE stack is kept up to date and close to upstream all the time (even receiving Qt, KF5, and Plasma upgrades in the middle of a release), which is good for you guys, as you probab

[2017-01-15 18:08] plfiorini commented on #23
I know the virtues of Fedora, I was using it before but went back to Arch Linux for the Liri images.
While it is certainly a much more stable and tested base it is a bit painful for Qt. For instance when I first prepared the Liri images F25 was not even released and my only choice was F24 which to this day has Qt 5.6.x. Had to wait until F25 alpha came out only to find out that making a live image

[2017-01-15 18:23] Conan-Kudo commented on #23
@plfiorini What package conflicts were there? I'm sure that @rdieter would be interested to know and help resolve those issues.

As for kickstarts, `lorax` and `livecd-tools` both offer first class support for it. I'm the primary contributor/maintainer of `livecd-tools`, while the @bcl is the primary developer/maintainer to livemedia-creator, which is part of `lorax`.

If there are issues that nee

[2017-01-15 18:24] Conan-Kudo commented on #23
As for kickstarts for OSTree creation, @cgwalters is the best man to talk to about that.

[2017-01-15 19:00] kkofler commented on #23
I build Fedora Remix ISOs with a one-line livecd-creator (from livecd-tools) invocation.
https://svn.calcforge.org/viewvc/kannolo/trunk/kickstart/

[2017-01-15 19:36] plfiorini commented on #23
@Conan-Kudo can't remember the packages that were conflicting but it's likely it was fixed after the alpha. The point is that I don't want to use Fedora alpha just to have the latest Qt release, it's painful.

@kkofler I used too for a long time, https://github.com/lirios/kickstart  I'm glad that now it uses dnf but the main problem is that it's unlikely Qt will be updated as soon as it is release

[2017-01-15 19:41] plfiorini commented on #23
Found it @Conan-Kudo:

[code]

[2017-01-15 22:00] Conan-Kudo commented on #23
@plfiorini

Ah, that's because both are equal providers. It's an easy fix, just add the following lines:

[code]

[2017-01-15 22:29] kkofler commented on #23
Including a newer Qt than what Fedora includes is what Copr is for.

That said, I am not happy with the decision to not upgrade F24 beyond 5.6 and will continue pushing for Qt upgrades in our releases. The problem is that the one who does the work decides, and I do not have the time to work on the whole Qt stack anymore. (I am already spending enough time on that QtWebEngine PITA.)

[2017-01-15 23:00] plfiorini commented on #21
It should still support it although TBH I haven't used it in a while so I will check if it is still working.
The main problem is that once you enable the virtual keyboard from Settings you need to restart the desktop, the setting is being picked up at startup because it's a Qt env var.

[2017-01-16 00:19] kekpons commented on #23
Please don't use fedora. Thanks.

[2017-01-16 23:55] plfiorini commented on #21
@kq01526 It works except for an issue with the applications menu being a modal dialog when you click on the virtual keyboard it will dismiss the dialog.
Filing a specific issue: https://github.com/lirios/shell/issues/77

[2017-01-16 23:55] #21 closed

[2017-01-17 00:09] plfiorini commented on #21
And https://github.com/lirios/shell/issues/78

[2017-01-17 16:05] kq01526 commented on #21
Is it possible to do that from the live ISO?

[2017-01-26 04:41] yangxuan8282 opened #24 "Can we run Liri OS on RPi 3?"
I know this maybe kind of heavy for pi, but just want to ask the possibility.
If it's possible, will wayland and VC 4 improve the performance?

[2017-01-26 20:50] TheCom3di4n opened #25 "Logotype"
Liri needs a Material Design logotype.

[2017-01-26 21:00] crutchcorn commented on #25
Define: Material Design Logotype

[2017-01-26 21:11] crutchcorn opened #26 "Logo redesign"
If we're a MD linux distro, why does our logo directly defy MD specs and philosophy?

This is from their specs page and is noted as strictly what NOT to do, yet it is almost exactly how you would make our logo
![Fold and Bend](https://cloud.githubusercontent.com/assets/9100169/22350494/d4169e32-e3c8-11e6-8597-50f896e861af.gif)

[2017-01-26 21:17] pierremtb commented on #26
Because I was young and foolish xD

On Thu, Jan 26, 2017 at 10:11 PM Corbin Crutchley <notifications@github.com>
wrote:

[2017-01-26 21:19] crutchcorn commented on #26
And that's part of any designer's journey. However, much like technical dept, we have to take care of design debt as well. :) Any thoughts as to what we're looking for in terms of central theme?

[2017-01-26 21:21] pierremtb commented on #26
Thinking about it, how don't Google Docs icon, Gmail's or Google Translate break this rule?

[2017-01-26 21:29] crutchcorn commented on #26
What Google (probably) says:
It's actually a bit of an eye trick. The dog ear is simple enough that you can justify it as nothing other than an eye trick. Same goes for an [icon like Translate](https://material.io/guidelines/style/icons.html#icons-product-icons):
![style_logos_product_patterns_accordian_do 1](https://cloud.githubusercontent.com/assets/9100169/22351008/e2be960e-e3ca-11e6-8238-4aa37

[2017-01-26 21:36] pierremtb commented on #26
Thanks for the explanation @crutchcorn

[2017-02-06 10:21] plfiorini commented on #23
@kkofler Exactly the reason why Copr is not stable. For example smooth upgrade to Qt 5.8 on Fedora 25 is quiet impossible:

[code]

This happens quiet often with Qt Copr, it is simply not meant to be used in production rather for testing.

Closing the issue now because I don't think using Fedora as base will happen soon, if ever.

[2017-02-06 10:21] #23 closed

[2017-02-11 17:46] plfiorini commented on #21
@kq01526 Yes it can, you don't need to reboot the system just logout and login again. Unfortunately it's an environment variable that needs to be read at startup.

[2017-02-15 17:58] FeniixDev opened #27 "Could not open configuration file "/root/.config/liri/platform.json" for reading"
## I have a error !

### Can you help me please ?

https://gyazo.com/d3b17e93d9bcf7f021f9123e36a18c3d

[2017-02-18 09:57] plfiorini commented on #24
Yes I'm pretty sure it's possible to run it on RPi 3, I did on the RPi 2 back when it was Hawaii.
I don't think VC 4 will yield better performance compared to brcm.
I'm building an image for RPi 2 with VC 4. First I need to verify if VC 4 can work to begin with then I will need to check how it runs.

[2017-02-18 10:20] yangxuan8282 commented on #24
thanks for reply
waiting for your image release
I have another question that maybe off the topic, but it really trouble me for months
since the liri os have QT 5 dependency, can you share compiling QT 5 ( 5.7 or 5.8, with qtwayland and qtwebkit ) recipe on raspberry pi 3 ( I guess it should be same for RPi3 and RPi2 )
have tried several times, but all failed
and all instruction on google is for ol

[2017-02-18 10:32] plfiorini commented on #24
Build recipes should work on both RPi3 and RPi2. For embedded images I'm experimenting with Yocto (see https://github.com/lirios/meta-liri) that has common recipes for every target and adds machine specific bits on top. To be even more specific I have used the same recipes to build a test image for Intel before diving into RPi 2. It's pretty neat since general purpose distros are usually limited i

[2017-02-18 23:26] plfiorini commented on #27
Could not open error is not a problem since the file is created the first time the session is closed.
The problem here is the segfault, @FeniixDev did you use the Arch Linux package from the liri-unstable repo? If that is the case could you check again, there was a bug in Fluid that made the desktop crash that is now fixed.

[2017-02-18 23:37] FeniixDev commented on #27
It does not work :/

[2017-02-19 00:02] FeniixDev commented on #27
I have the "settings.json" of liri-browser but not that of liri

https://screencloud.net/v/q1uA

[2017-02-19 11:24] plfiorini commented on #27
0. Missing settings file is not a problem
1. Upgrade with `pacman -Syu`
2. Log in as user in a text console (outside any desktop environment) there is no reason to use root
3. Don't run liri-session with sudo, the environment will not be set correctly
4. Enable more verbose log messages, edit ~/.config/QtProject/qtlogging.ini and add:
[code]
5. As user from a text console (outside any desktop envi

[2017-02-20 07:45] SkyzohKey commented on #6
You don't need a bot for that, just use a git post-hook, or if you really needs a bot Gitcop does a great job. :)

[2017-02-21 19:01] panospolychronis opened #28 "NVIDIA proprietary driver support."
I know this might be hard enough, but gnome now runs with nvidia proprietary driver under wayland.. (EGLStreams..etc..).  So any chance to have the same for Liri as well?

[2017-02-21 19:42] plfiorini commented on #28
@panospolychronis Qt's eglfs QPA plugin supports it ever since Qt 5.7. QtWayland as well.
We have a fork here with more features that are a must have for a desktop system. I started posting a bunch of them upstream but it will take time.

Meanwhile we just need to sync our fork with upstream.

[2017-02-21 21:23] panospolychronis commented on #28
@plfiorini Thanks for your reply. It will be great to see this soon because it's necessary step which will make more people to try/test ...and why not contribute patches for Liri. It's about time to abandon Xorg and switch to wayland through this nice "highway" Liri.

[2017-02-21 23:06] plfiorini commented on #28
Link to detailed issue: https://github.com/lirios/wayland/issues/5

[2017-02-22 22:25] plfiorini commented on #24
Managed to get a Liri OS build on Raspberry Pi 2 with VC4.
It's been a bit painful, had to upgrade mesa to make QtQuick programs work.
Performance is way better than I remember back when it was Hawaii on Arch with the propretary driver, boots as fast as 20/25s but VC4 is not reliable yet.

As soon as I managed to polish the image I will decide if it's worth to upload a whopping 1,5GB file to our s

[2017-02-23 05:06] yangxuan8282 commented on #24
great, I used to saw your hawaii image links for RPi2, but no chance to try it, because the links is expired

[2017-02-23 05:18] yangxuan8282 commented on #24
Do you think if it's possible to distribute the Liri OS desktop environment with docker? KDE Neon have do something similar : https://community.kde.org/Neon/Docker

[2017-02-23 21:59] plfiorini commented on #24
Yes it's doable, already started working on it :D But there are a few problems with d-bus to sort out.
![screenshot from 2017-02-23 22-58-24](https://cloud.githubusercontent.com/assets/843710/23280972/a380d828-fa1b-11e6-967f-80b2393513c7.png)

[2017-03-05 19:28] JekoTronik opened #29 "Credentials for iso images"
Hi fellows !

I would like to try LiriOS on virtualbox. I am stuck at the login screen, I didn't find any information about passwords on you website.

I am on Windows 10 with last version of VirtualBox.

Cheers !

[2017-03-05 20:22] plfiorini commented on #29
VirtualBox doesn't work so much with Wayland, please use VMware (Player or Workstation) or qemu/virt-manager.

[2017-03-05 20:22] #29 closed

[2017-03-06 06:20] jrcii opened #30 "No password posted anywhere for the live CD"
Users who want to check out this distro are provided with a live CD which upon booting prompts for a password that is not documented anywhere.

<img width="794" alt="screen shot 2017-03-06 at 1 18 32 am" src="https://cloud.githubusercontent.com/assets/6308848/23598837/1246f4ee-020b-11e7-95b6-c04812ca1983.png">

[2017-03-06 16:38] panospolychronis commented on #30
I think there's no password for the moment, you may try whatever you want...

[2017-03-06 16:47] crutchcorn commented on #30
There is no password. Try hitting enter

[2017-03-06 16:48] crutchcorn commented on #16
Why again? I like yelling at everyone on a platform I already use

[2017-03-06 16:50] plfiorini commented on #30
It should also be mentioned that nowadays SDDM on the Liri OS images does autologin.
If you are stuck at the prompt it means the desktop failed and often it happens on Virtual Box which is expected since it doesn't support Wayland. If that is the case you should be using VMWare with hw accel or qemu/virt-manager with QXL.

[2017-03-06 17:21] jrcii commented on #30
I tried no password multiple times, "password" "live" etc, and I get a loop back to the screen I posted, so I assume the issue is related to plfiorini's comment. I ran into this problem using VMWare Fusion 7 on OS X El Capitan + GeForce GT 750M (Late 2013 rMBP).

I'm sure you guys have bigger fish to fry but if this is common maybe a good "someday" solution to this would be an error message for VM

[2017-03-08 19:53] tim-sueberkrueb commented on #16
+1 for using a self-hosted open-source solution if we can afford it.

[2017-03-09 07:20] Aldrog commented on #16
I see no reason to switch. Slack is reliable, feature-full and doesn't conduct any campaign against third-party clients. For me that's enough to stick to it.

[2017-03-09 08:25] oKcerG commented on #16
Switching to a self-hosted solution will add cost and workload.
And I believe Slack is far more widely used than Rocket Chat, so @crutchcorn's reason doesn't really work here.

[2017-03-09 14:18] crutchcorn commented on #16
@oKcerG I was talking about Slack. So, my reasoning does really work here ;)

[2017-03-09 14:23] oKcerG commented on #16
I misunderstood the Why again :) and the digging up of this old issue.

[2017-03-14 03:05] yangxuan8282 commented on #24
Will you release the RPi image soon?

[2017-03-15 09:26] joeblew99 opened #31 "passing intents (url scheme) between apps"
i am wondering how liri is designed in terms of an app emitting na url scheme, so that other apps can handle the url emitted ?

[2017-03-16 13:26] gedw99 opened #32 "hardware - rasp pi 3 with touch screen"
I knwo its early days, but i want to try out running the OS on a rasp.

Can someone tell me if this is intended use case and if the base OS has been designed for ARM ?

[2017-03-18 06:29] aft3rlife commented on #30
I just wanted to add that I'm seeing this issue as well from a Live USB. Tried with the March 16th nightly.

[2017-03-18 15:12] yangxuan8282 commented on #30
same issues for Mar 16th nightly, boot from usb

[2017-03-19 00:17] Xmetalfanx commented on #30
March 16 ISO and same issue here, after using the dd command and trying to look at it on actual hardware (not a VM)

[2017-03-19 17:06] foozzi opened #33 "password in usb live"
What is default password for Live User in usb?? I now use virtual machines

[2017-03-22 07:25] Collinthegeek commented on #33
See #30
Please check to see if your question has already been asked before submitting a new issue.

[2017-03-22 07:26] Collinthegeek commented on #32
See #24
Please check to see if your question has already been asked before submitting a new issue.

[2017-03-22 07:29] gedw99 commented on #32
thanks i missed it on my initial search because the other dude used RPI to describe it:)

[2017-03-22 07:29] #32 closed

[2017-03-24 14:10] scootergrisen commented on #30
So how can users try it if we can't get past that screen?

[2017-03-24 14:19] Collinthegeek commented on #30
Everyone read the previous comments in this thread. plfiorini said two weeks ago that if you get stuck at the login prompt it means the desktop failed to load. You should be able to troubleshoot that yourself, go to tty2 and run the shell manually to see what the error is.

[2017-03-25 17:01] plugarbrasil opened #34 "Wifi/ Ethernet not recognized"
![screen_mainview_01](https://cloud.githubusercontent.com/assets/16307906/24324335/62b62e06-1163-11e7-9eb3-dbc09fe90d0b.png)

[2017-03-30 03:00] sandeshbhusal commented on #27
I have the same problem :(

[2017-03-30 14:05] R3d-Sky commented on #24
Unfortunately, I tried building it on master except lirios-wayland on my pi3, but it does not work. It fails to Initialize EGL display on both vc4 and brcm.

[2017-04-12 14:33] plfiorini commented on #33
Live media doesn't have passwords (neither `root` nor `liveuser`).
There are two possible issues here: you are either using Virtualbox that doesn't support Wayland properly or, most likely, hit a regression caused by libglvnd which is fixed in today ISO.

[2017-04-12 14:33] #33 closed

[2017-04-12 14:34] plfiorini commented on #30
Turns out that libglvnd has a regression that broke the shell among other projects: a workaround has been applied and the issue is fixed with today ISO.

[2017-04-14 19:26] plfiorini commented on #27
This should be fixed now!

[2017-04-14 19:26] #27 closed

[2017-04-14 19:27] #18 closed

[2017-04-15 03:21] Collinthegeek opened #35 "Black screen on install"
I installed from the latest image with Calemeres and on reboot I just see a cursor blinking in the top left. No grub. I crooted into it from the livecd and grub appears to be configured properly. Any ideas?

[2017-04-15 04:01] Collinthegeek commented on #35
Fixed, toggled the boot flag with parted.

[2017-04-15 04:01] #35 closed

[2017-04-15 06:37] plfiorini commented on #35
BTW I've seen the IRC log through Slack: the installer is Calamares, a distro-indipendent installer written with Qt (https://github.com/calamares).

[2017-04-15 06:43] plfiorini commented on #35
Almost forgot: the installer is customizable and configurable.
Liri OS config files are here: https://github.com/lirios/calamares-branding

[2017-04-16 14:33] plfiorini commented on #24
The RPi 2 image is here: https://repo.liri.io/images/raspberry-pi/

It's unofficial, very rough just an experiment. VC4 is not very stable yet.

[2017-04-16 16:59] yangxuan8282 commented on #24
@plfiorini finally, thanks

[2017-04-16 18:12] plfiorini commented on #24
I don't want to release it officially because: VC4 is unreliable but at the same time I don't feel like investing time for brcm (proprietary driver) anymore given that a FLOSS alternative being in development.
So keep that in mind.

[2017-04-18 10:45] plfiorini commented on #34
Missing feature, it's going to be implemented in https://github.com/lirios/settings/issues/18

[2017-05-05 12:03] yangxuan8282 commented on #24
sorry for late reply, my lapdock is broken and I just got new monitor, so just got chance to test it today

login the image with root, and start liri with:

[code]

I can see the desktop, and could launch setting, but failed to launch liri terminal

also have tried to install liri DE on archlinux arm with aur package [liri-shell-git](https://aur.archlinux.org/packages/liri-shell-git/), but can't s

[2017-05-16 10:11] plfiorini commented on #5
Done, with Qbs!

[2017-05-16 10:11] #5 closed

[2017-05-24 14:43] plfiorini commented on #10
This seems to be possible with qbs: http://doc.qt.io/qbs/installpackage-item.html
Although it would be a generic tar with binaries instead of a Arch Linux package but it's good enough, the CI script can download and unpack it

[2017-05-25 07:56] Collinthegeek opened #36 "Apps don't scale well on large screens"
I tried running all the flatpak apps on a 65" screen and nothing scales properly
![browser](https://cloud.githubusercontent.com/assets/2424846/26441337/b5bac38e-40f5-11e7-8635-982484121d51.png)
![calculator](https://cloud.githubusercontent.com/assets/2424846/26441340/b9642386-40f5-11e7-89a0-6adf487918df.png)
![files](https://cloud.githubusercontent.com/assets/2424846/26441346/bf707086-40f5-11e7-8e

[2017-05-25 08:13] plfiorini commented on #36
Ah that's the Qt autoscaling it thinks device pixel ratio is greater than 1 (probably 2 or even 3).
`qtdiag` should tell you more but it's not part of the runtime, it's in the SDK only so you cannot run that from flatpak.

Can you try running `xrandr` and report the output instead?

[2017-05-25 08:15] Collinthegeek commented on #36
$ xrandr
Screen 0: minimum 320 x 200, current 1920 x 1080, maximum 8192 x 8192
VGA-1 disconnected (normal left inverted right x axis y axis)
HDMI-1 disconnected (normal left inverted right x axis y axis)
DP-1 disconnected (normal left inverted right x axis y axis)
HDMI-2 connected primary 1920x1080+0+0 (normal left inverted right x axis y axis) 160mm x 90mm
   1920x1080     60.00*+  59.94    30.00

[2017-05-25 08:18] plfiorini commented on #36
160 mm x 90 mm for a 65" screen doesn't seem right is it a Samsung isn't it? :)

[2017-05-25 08:20] Collinthegeek commented on #36
Ah yes. I'd forgotten. The system has always thought it was 7"

[2017-05-25 08:21] plfiorini commented on #36
Samsung is known to confuse mm with cm so it reports the wrong physical size to Qt.
I'm considering turning high-dpi support off on X11.

[2017-05-25 08:24] plfiorini commented on #36
On Wayland, with our compositor, I can make adjustments and correct bad monitors for example always use a scale factor of 1 if the resolution is <= 1920x1080 but on X11 I have to submit a patch to Qt that is unlikely to be accepted because with this kind of corrections it gets complicated.

[2017-05-25 09:55] plfiorini commented on #36
Btw even if it was meant to be 160 cm x 90 cm it's a bit weird for a 65" screen, it should be about 140 cmd x 80 cm

[2017-05-25 09:56] Collinthegeek commented on #36
It might actually be 60" or even 55" I don't remember exactly

[2017-05-27 11:51] plfiorini commented on #10
Done: now all libraries have a product that creates an archive with artifacts that is used by the CI

[2017-05-27 11:51] #10 closed

[2017-05-27 18:57] tim-sueberkrueb commented on #36
I actually have the same problem on my laptop. Is there a workaround @plfiorini?

[2017-05-27 19:05] tim-sueberkrueb commented on #36
Nevermind, running apps/the shell with `QT_AUTO_SCREEN_SCALE_FACTOR=0` works around the problem (see http://doc.qt.io/qt-5/highdpi.html).

[2017-06-06 06:12] joksik opened #37 "bugs what i noticed"
Hello i use latest iso from 03.06.2017 i have old laptop so i dont use uefi boot only legacy boot

1) after livecd start i dont have any mouse cursor on desktop only blue wallpaper and icons. after moving mouse/touchpad like crazy finally cursor appeared so i could test another things

2) in taskbar (right down corner) there is no icon for network only empty space between icons. when i click this

[2017-06-07 14:29] majorgreys commented on #37
I tried Liri for the first time this week on my desktop (installing packages on an existing Arch system) and laptop (booting off a usb stick). In both cases I had the same problem as @joksik had with the mouse cursor being missing. I suppose this is a recently introduced bug as I can't seem to find any issues online with the mouse cursor on Liri.

[2017-06-07 17:58] joksik commented on #37
i read Liri road-map. they say that release 1.0 (stable ?) will be in the end of 2017 ;) it`s very promising project so i will test next release and report bug that i found. i have hope that they will fix it in the future

[2017-06-12 05:21] joksik commented on #37
any news about new nightly version? maybe there will be fixed some reported bugs

[2017-06-15 05:42] 115Prometey opened #38 "liri-session ptint issue and not start"
Liri shell not starts on my PC. I'm install fresh Arch Linux (build of 2017-04-01) and append OS of UI. Install sddm, xfce4, liri from official repository. Xfce4 starts normaly. Liri not started. After chosing "Liri (wayland)" from drop box of sddm and user logining, I see black screen and system reload sddm.service and reshow sddm ligining activity. Next my step is disable sddm.service of "_$ sys

[2017-06-18 18:36] plfiorini commented on #37
@joksik

1. is done, mouse cursor is now centered on the primary screen at startup
3. fixed, hitting the hot corner again wil exit the effect

[2017-06-19 05:26] 115Prometey commented on #38
Pier, what about my question? It's my bug in installation an configuration Arch or no? What I cen do for install LIRI  for long using?

[2017-06-19 09:18] joksik commented on #37
ok thx for fix this reported issue. i will test it with next release

ps: changing wallpapers is not ready ?

[2017-06-19 09:43] Jack-Works commented on #30
Same problem.

[2017-06-19 09:50] plfiorini commented on #30
VirtualBox doesn't support Wayland.

[2017-06-19 09:51] Jack-Works commented on #30
Hyper-V or VMware?

On Mon, 19 Jun 2017, 17:50 Pier Luigi Fiorini, <notifications@github.com>
wrote:

[2017-06-19 10:26] plfiorini commented on #30
VMware for sure, can't say Hyper-V for sure because I have never used it.

[2017-06-19 12:40] plfiorini commented on #38
Can't reproduce it in the live image, can you `pacman -Syu` and see if it happens again?

[2017-06-21 08:24] joksik commented on #37
@plfiorini

i tested latest night image from 19.06.2017 and change background bug and freeze hot-corner bug was fixed but still:

1) i dont have mouse cursor. i must open settings and then mouse cursor is start working
2) no icon for network settings only empty black space between icons in right down corner

anyway thanks for your hard work!

[2017-06-21 09:58] plfiorini commented on #37
yeah i have noticed that as well with vmware, can't reproduce on bare metal.

[2017-06-21 12:58] joksik commented on #37
ok i have this issue on 2 computers so maybe i can help? what logs i must attach? or what i must send you to help with this? i remember that image from april and may was works

[2017-06-21 15:58] 115Prometey commented on #38
Yea! after update it's work!! I happy!:) But liri shell has an invisible mouse cursor!!! Bug of previos liri live iso!!!

[2017-06-21 16:11] plfiorini commented on #38
yeah i will take a look, i couldn't reproduce it on my installed PC. how do you run the shell, from tty, gdm, sddm or what?

[2017-06-21 18:52] joksik commented on #38
i remember that @115Prometey was write on liri google++ that he use sddm

[2017-06-22 09:08] 115Prometey commented on #38
I'm run liri session from sddm

[2017-06-22 12:37] plfiorini commented on #38
sddm saves the log of wayland sessions here: `~/.local/share/sddm/wayland-session.log` can you put it somewhere like pastebin.com ?

[2017-06-22 13:56] 115Prometey commented on #38
I will put this file on my google disk and will share it. After I send referance on it in this comment. But I can make it tomorrow. Liri on my home PC. home PC without internet. Thank you for seen my question)

[2017-06-23 05:13] 115Prometey commented on #38
This is a link on the _wayland-sessio.log_ file on google drive.
https://drive.google.com/file/d/0By_cO7WBEIigb3RCUWRhQnd4Q1E/view?usp=sharing

[2017-06-23 05:29] plfiorini commented on #38
I don't see the shell helper running that's the problem. Pretty sure something is wrong with the paths, maybe caused by some mistake made in the new qbs build system rules.

[2017-06-23 06:58] 115Prometey commented on #38
Ок. I will try reinstall Arch and Liri

[2017-06-23 08:30] plfiorini commented on #38
There's no need, first I have to check what's wrong with the package

[2017-06-26 22:53] hughwilliams94 commented on #38
Just to say that I have encountered this same issue. I love the look of this OS though keep up the excellent work.

[2017-06-28 05:04] 115Prometey commented on #38
I'm reinstall my Arch at clean and reinstall all liri packages. Issue not gone

[2017-06-28 05:10] joksik commented on #38
its must be very dirty bug, because we have 2 weeks later and it is still not fixed :/

[2017-06-28 06:13] 115Prometey commented on #38
The mouse cursor is present, but is invisible. I drag mouse at a left buttom corner, and I see glow of cursor. After I drag an invisible mouse no more to right at the "terminal louncher icon", "terminal louncher icon" begin obscured an has reaction on mouse left button click. If I lounch some application frame (for example: "eclipse") the mouse cursor appears on app frame and go to the invisible s

[2017-06-30 06:24] plfiorini commented on #38
Reproduced, I blame XWayland:

[code]

Seems like it unsets the cursor.

[2017-06-30 06:34] plfiorini commented on #38
Tracked in https://github.com/lirios/shell/issues/106

[2017-07-03 10:46] plfiorini commented on #38
New snapshot seems fixed [1] with VMware

[1] https://repo.liri.io/images/nightly/lirios-2017.07.03.iso

[2017-07-04 09:56] #38 closed

[2017-07-04 10:30] #16 closed

[2017-07-06 15:34] concatime opened #39 "Arch is good, but how about OpenSUSE tumbleweed?"
Hi. I'm a big fan of your project, trying to implement Qt and Wayland. I'm currently on OpenSUSE Tumbleweed (rolling release version), and I'm asking if there is a way to get lirios?

Thank you.

[2017-07-07 06:51] plfiorini commented on #39
How hard would be to remove yast from a derivate?

[2017-07-07 06:57] plfiorini commented on #39
At some point I might create an OBS project to build packages for OpenSUSE since I have old spec files for Fedora. The community can take it from there and help maintaining the packages if there's interest in seeing Liri on OpenSUSE.

Images are likely to stay with Arch though as I already have things in place, but just out of curiosity: How hard would be to remove yast from an OpenSUSE derivate?

[2017-07-08 16:58] mzernetsch commented on #26
Maybe a bit late but there are specs specifically for product icons:
https://material.io/guidelines/style/icons.html#icons-product-icons

[2017-07-09 23:38] raiseerco opened #40 "Current build still loops at login"
When you try to log on a fresh usb stick installation, it asks for a password for "Live user", and if you press enter loops on the same screen.
If you pick a session "Weston", screen turns black with a X cursor and nothing else happens...
If you pick a session "Liri", screen loops on login.

[2017-07-19 13:16] laizhiwei123 opened #41 "hello Ours Software Why ese QML?"
hello Ours Software Why ese QM I? think QML performance Not so well.  Why don't you use Qt widgets?
Personal a view thank you

[2017-07-19 13:22] plfiorini commented on #41
QtWidgets is DONE, doesn't work well on mobile, it's not flexible, styling is difficult, declarative is more productive and QML performance is acceptable.

[2017-07-19 13:22] #41 closed

[2017-08-07 19:39] edge226 commented on #28
I'm also interested in there being more options for Nvidia support.

[2017-08-07 19:43] edge226 commented on #39
I am also interested in trying Liri on OpenSUSE Tumbleweed.

[2017-08-09 14:25] mispp commented on #39
@plfiorini i got a hint a long time ago to check JeOS - it should be without yast. OTOH, during install of gnome, it pulls it as a dependancy.

[2017-08-14 04:15] MGageMorgan commented on #39
How DO I get this to work on F26?

[2017-08-27 09:54] dossalab opened #42 "Terminal app doesn't work"
[roman@dossalab ~]$ liri-terminal
Using Wayland-EGL
Pass a valid window to KWallet::Wallet::openWallet().
Couldn't start kwalletd:  QDBusError("org.freedesktop.DBus.Error.Spawn.ChildSignaled", "Process org.kde.kwalletd5 received signal 6")
The kwalletd service is still not registered
Couldn't start kwalletd:  QDBusError("org.freedesktop.DBus.Error.Spawn.ChildSignaled", "Process org.kde.kwalletd5 r

[2017-09-03 09:11] xCuri0 commented on #42
Installing `kdebase-runtime` and running `kdebase-runtime` in a terminal fixed it for me

[2017-09-03 09:16] xCuri0 opened #43 "Taskbar does not disappear when applications are dragged ontop of it or for a fullscreen application"
If I drag a window ontop of the taskbar it appears ontop of the window. Also when I run a fullscreen game (Minecraft probably using XWayland) the taskbar also still shows

[2017-09-23 15:14] hughwilliams94 opened #44 "Can't start Liri"
On an Arch Linux install using the latest packages from your repo, I cannot login to liri I simply get kicked back to sddm. If I switch to a tty and try to run liri-shell manually I simply get a segmentation fault.

If I look at journalctl -xe I see that the segfault is occurring in libLiriUDev.so.0.0.0

[2017-09-23 15:24] plfiorini commented on #44
I'm making a VM to debug the issue.

[2017-09-23 20:23] plfiorini commented on #44
It's an heisenbug, no longer reproduced with the last iso image.

[2017-09-25 07:24] plfiorini commented on #42
Fixed

[2017-09-25 07:24] #42 closed

[2017-10-09 05:29] plfiorini commented on #44
Found and fixed, but you won't see it fixed until I trigger a package rebuild.

[2017-10-09 08:48] hughwilliams94 commented on #44
Great thanks, will try it once the package gets rebuilt!

From: Pier Luigi Fiorini [mailto:notifications@github.com]
Sent: 09 October 2017 06:30
To: lirios/lirios
Cc: Hugh Williams; Author
Subject: Re: [lirios/lirios] Can't start Liri (#44)

Found and fixed, but you won't see it fixed until I trigger a package rebuild.

—
You are receiving this because you authored the thread.
Reply to this email

[2017-10-09 21:10] plfiorini commented on #44
Packages updated.

Tests done:

* Several attempts on the development PC: zero crashes
* Last ISO boot on VMware: no crash
* Update of an installed virtual machine: no crash

[2017-10-10 10:23] #44 closed

[2017-10-10 10:24] plfiorini commented on #40
Fixed long time ago.

[2017-10-10 10:24] #40 closed

[2017-10-10 10:25] plfiorini commented on #9
We are using containers with the compilers installed now.

[2017-10-10 10:25] #9 closed

[2017-10-25 01:24] ghost opened #76 "Software Stack for Apps"
I am interested in contributing to this project but would prefer to build apps using Golang and QML/Qt (therecipe/qt is a really good binding I use)... is this an option the team would be open to for certain apps? Golang is very mature/stable, fast, compiles to a static binary and is very easy to write/learn... Go would be a great choice for any non-low level application.

[2017-11-25 09:39] plfiorini commented on #28
Implemented!

To test it type the following command on a tty:

[code]

At the moment NVIDIA cannot be automatically detected so unfortunately you have to manually specify which integration you want to use.

[2017-11-25 09:39] plfiorini commented on #28
This issue is a duplicate of https://github.com/lirios/wayland/issues/5

[2017-11-25 09:39] #28 closed

[2017-11-25 09:40] #12 closed

[2017-12-01 07:51] StuntHacks opened #45 "Can't run cross-platform apps on Ubuntu 16.04"
When I try to run any of the cross-platform applications (except for the calculator, which I can't even install), they won't load. When I run them without sudo, I get a bunch of GTK errors and when running them with sudo, they just don't show up.

[2017-12-01 16:55] tim-sueberkrueb commented on #45
Hey @StuntHacks, how did you install the apps and what were the error messages you received?

[2017-12-04 08:24] StuntHacks commented on #45
I installed the apps via flatpak. I get the following error messages:

[code]

I am able to run LiriOS Text when starting it via the launcher, however Files, for example, won't load.

[2017-12-04 18:55] tim-sueberkrueb commented on #45
Hmm ... do you get any additional error messages for Files when starting it from the command line or is this it? CC @plfiorini

[2017-12-05 08:36] StuntHacks commented on #45
No, that's it. I copied the complete output of it.

[2017-12-06 20:38] tim-sueberkrueb commented on #45
I'm afraid I cannot reproduce your issue on Ubuntu 17.10. Does it just hang silently or does the application crash?

[2017-12-06 22:20] StuntHacks commented on #45
It doesn't crash. The process is still running and it blocks the terminal. There just isn't any output and nothing else happens after the error messages I posted earlier.

[2018-01-05 16:32] wizofe commented on #24
@plfiorini How do you think this image would work on a Raspi 3? Could I offer any help around?

[2018-01-05 20:39] plfiorini commented on #24
@wizofe Can you burn the image on a SDCard and see if it boots?

[2018-01-05 21:44] wizofe commented on #24
Where can I find the image though? The link has no image in.

[2018-01-05 22:15] plfiorini commented on #24
@wizofe It was deleted to make some room I didn't even remeber. Luckily I had a copy on my hard drive and I have uploaded it again in the same directory.

[2018-01-06 15:21] Cl1608Ho opened #46 "Mark papyros as deprecated"
Do the stuff like you did with hawaii

- [ ] Mark Github organization/repo(s) as deprecated and link to lirios
- [x] Mark [papyros.io](http://papyros.io/) as deprecated and link to lirios
- [ ] Take over bountysource project / refer to lirios.
- [ ] Maybe, if its possible, take over any funds that were left on papyros (as I'm seeing right now, we still got $60 bounties)

did i miss anything?

[2018-01-06 16:30] wizofe commented on #24
@plfiorini thanks for the re-upload. Just tried with RasPi3 but it just shows a rainbow boot screen and then goes...black. I am really keen on porting it to RasPi3, I am aware that they 've been few changes in the architecture and I am willing to check through the Datasheet of the processor.

I have not big experience in OS programming though, so I would be happy if you guide me a bit on what file

[2018-01-06 19:08] plfiorini commented on #46
Only @iBelieve has access to those things and has already been emailed about it but hasn't replied. Maybe he's been busy but he will read this message.

[2018-01-08 20:07] Leon0402 commented on #24
I tried it on my raspberry 3b too and can confirm wizofe`s experience, just a black screen.
Would be really cool if you are able to fix it.

By the way, I tried liri os some weeks ago on my computer and it`s really awsome, but for some reasons I couldn´t open the settings :(
I am not quite sure if the problem still exists, but I can try it if you have a new image. I am really looking forward to th

[2018-01-24 10:12] zhenyolka opened #50 "Password on first install! I read other issue!"
On first start i see login manager and message :"select user and enter password". Enter key not work, after press this key xorg restart. It with liri-shell selected, but all good with weston.
What need do?

[2018-02-15 10:19] Howard-00 opened #52 "Is there support for zh-cn?"

[2018-02-17 08:26] plfiorini commented on #52
Yes all strings appears to be translated to zh_CN: see https://www.transifex.com/lirios/

[2018-02-17 08:27] #46 closed

[2018-02-17 08:27] #52 closed

[2018-03-17 12:26] IlyaBizyaev opened #53 "Flatpak installation fails"
All flatpak installations fail with this error:
[code]

[2018-03-18 03:32] Howard-00 opened #54 "Can't start liri"
Unable to query physical screen size, defaulting to 100 dpi.
To override, set QT_QPA_EGLFS_PHYSICAL_WIDTH and QT_QPA_EGLFS_PHYSICAL_HEIGHT (in millimeters).
Cannot mix incompatible Qt library (version 0x50a00) with this library (version 0x50a01)

[2018-03-24 23:01] plfiorini commented on #4
Done everywhere except for forked code.

[2018-03-24 23:01] #4 closed

[2018-03-28 06:09] plfiorini commented on #53
I'm rebuilding the repositories with new contents and a new GPG key since the old one has expired.

[2018-03-28 11:13] olluz opened #55 "Odroid C2 support"
Hi,
thanks a lot for adding Odroid support, but I've ran into several issues:

    lirios-init-build-env: for list_devices to work the directory seems to be wrong, it should be
    $DIR/conf/distro/machines/*.conf
    fetching meta-odroid fails, adding a revision in scripts/manifest.xml will help:
    revision="1979e36c9ff74fe668e2c89db2a919f7257ab4b9"
    adding a meta-liri/conf/distro/machines/o

[2018-03-28 13:11] plfiorini commented on #55
Duplicate of https://github.com/lirios/meta-liri/issues/5.

[2018-03-28 13:11] #55 closed

[2018-03-29 22:52] IlyaBizyaev commented on #53
For me, the issue seems to persist

[2018-03-30 07:47] plfiorini commented on #53
You have to download `liri.flatpakrepo` again.
Remove the remote, add it again and install:

[code]

Here's my output:

[code]

[2018-03-30 07:50] plfiorini commented on #53
@IlyaBizyaev  Ah wait a second... the GPGKey was not changed in the `.flatpakref` files of the apps.

[2018-03-30 07:55] plfiorini commented on #53
Updated... You need to remove the remote and download the flatpakref again.
So with io.liri.Browser as an example:

[code]

[2018-03-30 16:21] #53 closed

[2018-03-30 16:30] IlyaBizyaev commented on #53
Yeah, works for me now.
Thank you! :D

[2018-04-03 09:35] plfiorini commented on #36
This is a hardware problem (wrong physical size being reported) but Qt needs to be patched make it clever and report devicePixelRatio = 1.0 if the resolution is lower or equal to 1920x1080 so this is an upstream issue.

[2018-05-20 05:42] jiqing112 opened #56 "How to solve the "bad source" prompting when installing"
![arch-2018-05-20-12-52-07](https://user-images.githubusercontent.com/17674011/40276099-9e2d32c4-5c33-11e8-85ee-f7a8c6ca49f2.png)

[2018-05-20 05:43] jiqing112 commented on #56
![arch-2018-05-20-13-43-32](https://user-images.githubusercontent.com/17674011/40276109-ce495744-5c33-11e8-974d-ab64dd13321e.png)

[2018-05-20 17:48] mviereck opened #57 "docker image fails: xcb missing"
I tried the docker  image [`lirios/unstable`](https://hub.docker.com/r/lirios/unstable/). It fails with error message:
[code]

[2018-06-03 00:40] ashvinnihalani commented on #54
I also have this error, on Arch if it matters. However the versions have changed I have the respective versions being 0x50a01 and 0x50b00, I am assuming this is QT 10 and 11. Some additional info is that I can run it windowed in both Xorg, on Gnome, and Wayland, in Weston. It would be nice if you included custom version of QT so that people can use the shell without having downgrade.

[2018-06-27 07:57] itay-grudev commented on #44
I currently have the same issue, but `journalctl -xe` is a bit cryptic and I can't tell exactly what's causing the issue. Is there a _debuging_ or _verbosity_ flag?

[2018-06-28 23:02] itay-grudev commented on #44
This error sometimes appears (though I'm never able to start lirios) on Arch:

[code]

[2018-07-02 22:00] itay-grudev commented on #54
@plfiorini I'm also getting this and I'm not exactly sure how to solve it. Also on Arch.

[2018-07-02 22:02] itay-grudev commented on #54
#44

[2018-08-02 15:41] maenpaa24 commented on #54
so am I. Both experiencing the error and on arch.

[2018-08-02 15:41] maenpaa24 commented on #44
so am I. Both experiencing the error and on arch.

[2018-08-08 21:34] rdrms commented on #54
I'm getting this error on Arch Linux (Well, actually Manjaro) with the official liri repository packages

Cannot mix incompatible Qt library (version 0x50a01) with this library (version 0x50b01)

Sounds like the Arch packages need to be rebuilt against the newer version of Qt in the Arch repositories?

[2018-08-12 14:14] nagualcode commented on #56
manual fix?

[2018-08-29 12:38] plfiorini opened #58 "Intel Cherry Trail"
Port to Intel Cherry Trail tablets.
There are two ways, either with "plain" Linux or Android based hardware adaptation.

### Linux

(HiPro 10)

* https://github.com/danielotero/linux-on-hi10
* https://txlab.wordpress.com/2017/03/11/running-ubuntu-on-chuwi-hi10-pro-tablet/
* https://gist.github.com/Orochimarufan/d8e42cfaa32c2cdd13640dad6a10b847
* https://github.com/Dax89/chuwi-dev
* https://techtab

[2018-09-05 20:03] plfiorini commented on #57
Looks like it might be a Qt issue, used to work before may. Other people are experiencing it and the same issue happens with both Arch Linux and Fedora 28.
Move the issue to the specific repository: https://github.com/lirios/docker-lirios/issues/1

[2018-09-05 20:03] #57 closed, assigned to plfiorini

[2018-09-05 20:07] plfiorini commented on #20
Seems fixed now!

[2018-09-05 20:07] #20 closed

[2018-10-17 12:00] hughwilliams94 commented on #54
Any progress on this issue? I would love to be able to get Liri working again on Arch so that I can start helping with testing.

[2018-10-20 10:09] mispp opened #59 "repo.liri.io does not work"
[code]

[https://repo.liri.io/archlinux/unstable/x86_64/](https://repo.liri.io/archlinux/unstable/x86_64/) is empty

[2018-10-20 13:14] plfiorini commented on #59
The repo is being rebuilt

[2018-10-20 13:42] plfiorini commented on #59
Besides I'm considering to drop the binary packages, CI is too slow to build anything.
We need a proper server, an Atom CPU can't take it anymore.

[2018-10-20 13:57] mispp commented on #59
i have a private server running at home. celeron g1600 (or something like that) that came with hp microserver gen8. if you can give some guidance, i could set it up to be built locally and uploaded.

or hetzner cloud, they have 3eur month, 1cpu, 2gb machines with 20 tb outgoing traffic.

[2018-10-22 06:47] plfiorini commented on #59
Here's how packages are built now:

1. Read [channels.json](https://github.com/lirios/packages/blob/master/channels.json), for example with Python
2. Iterate over the `unstable` list of packages
3. Build each package with this [script](https://github.com/lirios/packages/blob/master/docker-build) that spawns a Docker container with a `/repo` volume that points the directory where the `liri-unstable

[2018-10-22 06:49] plfiorini commented on #59
Btw even without a binary repository you would be able to build Liri yourself using `pacaur` or whatever AUR tool you like.

[2018-10-23 11:46] mispp commented on #59
thanks for the notes, i'll try it out.
i'm aware that something can be built using aur, but i prefer binary because aur build does not necessarily have to succeed.

where was repo.liri.io previously hosted?

i could maybe sponsor this with one machine as mentioned before (1cpu core, 2gb ram, 20gb drive) to do builds and host binaries. at least for some time.  and also, building this should not tak

[2018-10-23 11:47] mispp commented on #59
or maybe google build servers as an alternative?

[2018-10-23 15:27] thx1111 commented on #59
Pier, while this is going on, please, as a courtesy, update the lirios website, https://liri.io/download/, so that users are no longer directed to a nonexistent
```Server = https://repo.liri.io/archlinux/unstable/$arch/```

Instead, perhaps you could provide a list of the AUR packages in the minimal set of essential packages required to run the liri packages from the Arch Community repository.  Or

[2018-10-24 06:54] plfiorini commented on #59
@thx1111  The AUR package you are looking for is `liri-git-meta`

[2018-10-24 18:22] thx1111 commented on #59
Thanks Pier.

For anyone else reading here, currently there is a QtWayland caused build bug for liri-materialdecoration-git, for which an upstream bug has already been submitted.  Patience...

[2018-10-25 06:45] plfiorini commented on #59
@thx1111 You are welcome. I also had changed the download page to mention AUR instead of already built packages.

[2018-10-28 11:43] mispp commented on #59
@plfiorini i tried instructions on `lirios/buildbot-config`, but no luck. error pops up about delimiter.

anyway, as far as i understood, `lirios/buildbot-config` should be used together with buildbot docker container, basically append lirios module (buildbot-config) to the original container and it should automagically pull all the info from github and store results into `/srv/ci/buildbot`

note:

[2018-10-29 12:57] Conan-Kudo opened #60 "qbs is being retired in favor of CMake"
The Qt Company has decided to [stop development of Qbs and migrate to CMake](http://blog.qt.io/blog/2018/10/29/deprecation-of-qbs/).

As Liri OS uses Qbs for building its software, it'll want to start moving before it's fully retired next year.

[2018-10-29 13:16] plfiorini commented on #60
Yeah I read it. I still need to recover myself :(
Hopefully they will address some CMake shortcomings and improve QtCreator integration even further.

First step is to add CMake to all Liri projects, keeping Qbs and qmake where they are.
Second step, once QtCreator integration can compete with Qbs, is to stop supporting the Qbs build system. Qmake will still be supported in Fluid for a while (alon

[2018-10-31 07:45] plfiorini commented on #60
Work has started in the `feature/cmake` branch of each project.

[2018-11-01 07:52] plfiorini commented on #60
BTW here's the mailing list post: http://lists.qt-project.org/pipermail/development/2018-October/034023.html

[2018-12-12 15:07] bes1002t commented on #39
I'm also interested in using Liri as Desktop Environment in Fedora. I would like to use Fedora with such a nice design and sophisticated tools.

[2019-01-04 22:16] plfiorini commented on #60
Done!

[2019-01-04 22:16] #60 closed, assigned to plfiorini

[2019-01-04 22:17] plfiorini commented on #54
This should be working with the AUR packages now.

[2019-01-04 22:17] #54 closed

[2019-01-05 23:26] schnitzeltony opened #61 "Liri session does not start"
After going through cmake/linker issues, starting Liri I get a more or less clean log [wayland-session.log](https://github.com/lirios/lirios/files/2729966/wayland-session.log). That looks way better than few days ago but there is just a 'little' problem: Liri session does not start...

My environment:
* Machine: RaspberryPi3 / graphics open source mesa / VC4. That works perfectly fine for all Desk

[2019-01-11 07:15] plfiorini commented on #59
I was not suggesting to use Buildbot, rather read the code if you need to know how it used to build the packages.

Basically you need to build a package following [the Arch instructions](https://wiki.archlinux.org/index.php/DeveloperWiki:Building_in_a_Clean_Chroot) configuring your chroot to use your repository and then after the build, add the resulting package to the repository.

[2019-01-19 02:10] schnitzeltony commented on #61
Did build qtbase for gles instead of gl (desktop). My idea was egl and GLES are friends so try that but it did not work: liri-eglfs does not build for qtbase build for GLES.

[2019-01-31 12:46] schnitzeltony commented on #61
Party time: After ages Liri is running again on Raspi!!!

What I did:

* Modified session script so that it starts gdbserver for liri-shell
* In the first debug sessions I had strange debug session abortions. gdb complained with: "gdbserver unexpected r_debug version 0". Some investigation lead to LIRI_SHELL_DEVELOPMENT_BUILD.
* Next debug session with LIRI_SHELL_DEVELOPMENT_BUILD [1] enabled segf

[2019-01-31 21:31] plfiorini commented on #61
Can I see the modified `liri-session` script?

`disablePtrace()` disable ptrace (unless `LIRI_SHELL_DEVELOPMENT_BUILD` is set to `ON`), but it still allows you to run through `gdb`, using `gdbserver` is not allowed.

But as said enabling `LIRI_SHELL_DEVELOPMENT_BUILD` should bypass `disablePtrace()` and you'll be fine.

[2019-02-01 08:08] schnitzeltony commented on #61
Was something like:

[code]

[2019-02-10 21:27] yoannpicquenot opened #62 "libiri-git not fountd when building for lir-git-meta"
[code]

[2019-02-21 10:25] bretantonio opened #63 "Add output in the installer"
Please I would like to see what the installer is doing. It can stay at 22% for 1hour leaving me to wonder if something is wrong

[2019-02-21 10:33] bretantonio opened #64 "Cursor is invisible on starting live system"
I do not know much but this has something to do with wayland. The cursor comes back if I press power button and cancel power options

[2019-02-21 13:42] plfiorini commented on #63
Right now the installer downloads the OS bits from the Internet and that takes time (it depends on how fast is the network, server and disk write speed).  In the near feature I want to see if the OSTree repository can fit the ISO, making it way faster to install.
Meanwhile you can check the logs in  `~/.cache/Calamares/Calamares.log`

[2019-02-22 08:10] #63 closed, assigned to nobody

[2019-03-04 07:33] plfiorini commented on #64
Done, will be available in the next live image.

[2019-03-04 18:08] plfiorini commented on #62
`libliri-git` is in AUR [1], please check again.

https://aur.archlinux.org/packages/libliri-git/

[2019-03-18 15:14] vsnthdev commented on #30
Today, I tried LiriOS and it is still stuck on the password prompt

[2019-03-18 15:16] plfiorini commented on #30
@vasanthdeveloper Did you try it on a virtual machine? If yes, which one (VMware, QEMU, VirtualBox, etc...)?

[2019-03-18 15:20] vsnthdev commented on #30
I don't think it is fair to  run an OS in development on Virtual Machine. So, ran it on my workstation :)

[2019-03-18 16:54] plfiorini commented on #30
@vasanthdeveloper Please boot the live, then press Ctrl+Alt+F2 to go to a VT. Authenticate as `liveuser` (no password required). Then type:

[code]

And upload log.txt to https://paste.fedoraproject.org/ (or whatever pastebin equivalent) and put a link to it here.

[2019-03-18 19:18] vsnthdev commented on #30
Hello, after bit of experimentation I would like to point out a few things:
1. I would like to contibute to this project in any possible form.
2. The provided ISO is not UEFI Compatable (Downloaded from here).
3. ```wget``` which a program that is used quite frequently and is a bit important is not installed.
4. I don't know what package manager LiriOS uses, as ```pacman``` was not found and I rea

[2019-03-27 10:59] #64 closed, assigned to plfiorini

[2019-03-27 11:00] plfiorini commented on #30
@vasanthdeveloper Do you have a dual screen setup?

[2019-03-27 11:01] vsnthdev commented on #30
Yes, both are 1080p and run on Intel HD 630 Graphics

[2019-03-27 11:02] plfiorini commented on #30
Oh then it looks like a regression with dual screens, with one screen it works fine.
Will take a look.

[2019-03-27 11:03] vsnthdev commented on #30
Oh, then I will test LiriOS with only one screen and report back to you :)

[2019-03-29 15:04] vsnthdev commented on #30
Hey, so I checked LiriOS using only 1 monitor and it works like a charm. Although there are some rough edges to the operating system.

[2019-04-12 14:01] plfiorini commented on #56
This doesn't happen for a while now.
Now, instead of rsyncing the live image into the installation root, the installer deploys OSTree.

[2019-04-12 14:01] #56 closed, assigned to plfiorini

[2019-04-12 14:09] #62 closed, assigned to plfiorini

[2019-04-12 15:54] plfiorini commented on #30
The multiple monitor bug has been fixed, will be available in the next image.

[2019-04-12 20:40] plfiorini opened #65 "UEFI support for ISO"

[2019-04-12 21:24] plfiorini commented on #30
@vasanthdeveloper

1. Depends on what you can do. You can test things out and report issues, write documentation, code, etc...
Documentation for developers is [here](https://liri-dev.readthedocs.io/en/latest/)
2. Add an issue, se #65
3. There is curl.
4. ISOs now are based on Fedora, the installed system uses `rpm-ostree` like Silverblue.
5. I'm investigating.
6. Now I have added `fpaste` to the l

[2019-04-12 21:44] plfiorini commented on #30
5. Seems to be fixed, but since the build server is already building an image, the fix will not be in the upcoming image.

[2019-04-12 21:47] plfiorini commented on #30
@vasanthdeveloper BTW we have a chat here: https://riot.im/app/#/room/#liri:matrix.org

[2019-04-13 04:58] vsnthdev commented on #30
The chat room says it no longer accepts new signups.

[2019-04-15 08:29] plfiorini commented on #30
Weird, works for me. Maybe something was wrong due to the recent attack. Try again.

[2019-04-21 10:32] dariusity opened #66 "Live password."
What's the password to login live CD?

[2019-04-26 02:21] Leoj03 opened #67 ""Show Password" for network not working"
When entering a network password, if I try to hit "Show Password," the whole thing closes.  I don't think it crashes, since it slides to the edge of the screen, but I have to reopen it.

[2019-05-18 00:01] illvart opened #68 "liri-session not launch"
I trying again to install liri by use Arch Linux wiki [here](https://wiki.archlinux.org/index.php/Liri), but liri-session not launch.

Error:
[code]

[2019-05-18 04:16] plfiorini commented on #68
Are you sure you are running this in your Wayland session?

What does `$WAYLAND_DISPLAY` contains?

What is the output of `liri-session -platform wayland` when you `export WAYLAND_DEBUG=1` before running it?

[2019-05-22 11:31] plfiorini commented on #68
In a console `XDG_SESSION_TYPE=tty` now instead of being empty, so the algorithm choose `wayland` and `xcb`.
The `wayland` QPA plugin obviously fails because it cannot connect to a display and so is true for the X11 display.

[2019-05-22 15:44] #59 closed, assigned to nobody

[2019-05-24 06:39] #68 closed, assigned to plfiorini

[2019-06-02 11:01] plfiorini commented on #39
@bes1002t There is a COPR repository that is automatically built with every git push: https://copr.fedorainfracloud.org/coprs/plfiorini/liri-nightly/

[2020-01-15 22:39] ToxicDragon opened #69 "Live ISO: No login prompt"
In the current live ISO (14.01.2020) there is no prompt for signing into the session. I am stuck on the screen where I can choose the compositor or shutdown (right bottom corner)

[2020-01-16 12:31] plfiorini commented on #69
The user gets created at runtime, it means [live-system-setup.service](https://github.com/lirios/ostree-config/blob/develop/overlay.d/05live/usr/lib/systemd/system/live-system-setup.service) fails.
I download the 14/01/2020 ISO and see for myself.

[2020-02-01 10:07] plfiorini commented on #69
The problem is with `sysroot-etc.mount`, that makes /etc writable.
Says "Failed with result 'protocol'"

[2020-02-01 12:38] ToxicDragon commented on #69
Can you fix this?

[2020-02-01 13:25] plfiorini commented on #69
I think it's related to: https://github.com/systemd/systemd/issues/10872

[2020-02-01 13:27] plfiorini commented on #69
Fedora CoreOS (of which Liri OS has many similarities) have the same problem: https://github.com/coreos/fedora-coreos-tracker/issues/363

But this is blocking to us since the user is created during the boot and needs to access /etc.

This wasn't happening about 1 month ago.

[2020-02-01 13:44] plfiorini commented on #69
@ToxicDragon I'm trying to do a workaround, a service unit that manually mounts /sysroot/etc

[2020-02-01 15:16] plfiorini commented on #69
Workaround seems to work:
![Screenshot from 2020-02-01 16-15-53](https://user-images.githubusercontent.com/843710/73594366-2a508480-450e-11ea-94c7-ca29872a1534.png)

[2020-02-01 15:25] ToxicDragon commented on #69
Nice, thx! I'll give it a try once I'm back home

[2020-02-01 15:27] plfiorini commented on #69
I'll tell you when new images start to get the fix. That was a local build.

[2020-02-03 10:18] plfiorini commented on #65
This is done now!

[2020-02-03 10:18] #65 closed, assigned to plfiorini

[2020-02-03 12:21] #30 closed

[2020-02-03 12:50] #50 closed

[2020-02-05 18:22] plfiorini commented on #69
The workaround works. I struggled with an orthogonal issue, fixed [with this commit](https://github.com/lirios/image-config/commit/5a20256b4e11cfba92039f6539925ba631c12dcc) that's why I had it working on local builds but it wasn't working with server builds.

Todays build (05/02/2020) works, tested in two computers, but there is an issue with the installer.
Now images are completely based on OSTre

[2020-02-06 22:25] ToxicDragon commented on #69
I confirm that you workaround seems to fix the problem (just tested with the latest iso)

What I thought back then and I still think nowadays: Liri is such a great DE and has so much potential! Would be great to more progress and maybe also more activity in social meda about it (e.g. twitter)! Once https://github.com/johanhelsing/qt-csd-demo and the corresponding features work, it would be sooo ni

[2020-02-07 03:58] #69 closed, assigned to plfiorini

[2020-02-21 05:03] plfiorini opened #70 "SPDX license"
Standardize copyright and license notices by following the REUSE specifications.
See https://reuse.software/faq/

Here's a useful: https://invent.kde.org/sdk/licensedigger

[2020-02-21 05:28] plfiorini commented on #70
List of repositories to convert:

- [X] appcenter
- [ ] aurora-client
- [ ] aurora-compositor
- [ ] aurora-scanner
- [ ] browser
- [ ] calculator
- [X] cmake-shared
- [ ] files
- [ ] fluid
- [ ] initial-setup
- [ ] irc
- [x] libliri
- [ ] media-writer
- [ ] music
- [ ] networkmanager
- [ ] ostree-image-creator
- [ ] ostree-upload
- [X] platformtheme
- [ ] player
- [ ] power-manager
- [ ] pulseaudi

[2020-02-25 19:21] tophneal opened #71 "aarch64 support?"
I just installed Liri DE through pamac on Manjaro ARM, and though I haven't gotten it to start yet, it built and installed without any problem. Is there any possibility of official support for aarch64?

[2020-04-04 09:12] plfiorini commented on #66
No password just press enter.

[2020-04-04 09:12] #66 closed, assigned to plfiorini

[2020-04-11 14:30] plfiorini commented on #6
Work started on a status check as a Github action: https://github.com/liri-infra/lint-action

[2020-06-12 11:04] Jack-Works commented on #30
Happened in Hyper-V

[2020-06-28 00:40] epsilon-0 opened #73 "[Info] How to package the ecosystem"
First of all, thank you so much for making this! It is a very beautiful ecosystem :heart: .

I've been looking at porting this to Gentoo and was trying to follow how the ecosystem is distributed.

I've also noticed the arch build and was wondering if that is the recommended method of packaging this for a different OS.

Is there any documentation for looking at how to package and build the whole sy

[2020-06-30 09:33] plfiorini opened #72 "Add ; to Q_UNUSED"
See https://bugreports.qt.io/browse/QTBUG-82978
Qt 6 will remove the ; in the Q_UNUSED macro

[2020-07-01 16:11] Aldrog commented on #72
Maybe switch to `[[maybe_unused]]` attribute which is supported by all major compilers and [is standard since C++17](https://en.cppreference.com/w/cpp/language/attributes/maybe_unused) instead?

[2020-07-04 11:40] plfiorini commented on #73
Hi,

Thanks for your interest in the project.

There's a whole documentation web site: https://docs.liri.io/

Here's you can find a list of modules: https://docs.liri.io/modules/

There are packages for Arch Linux in AUR and [Fedora packages](https://github.com/lirios/rpms) in [COPR](https://copr.fedorainfracloud.org/coprs/plfiorini/liri-nightly/packages/) that you can use as a reference.

[2020-07-04 12:11] epsilon-0 commented on #73
Unfortunately the arch AUR package is broken and no longer builds.

I will take a look over the documentation and see how I progress.

[2020-07-06 06:18] plfiorini commented on #72
Depends on whether it's supported on all platforms that we target.
Besides that it's weirder than Q_UNUSED: https://en.cppreference.com/w/cpp/language/attributes/maybe_unused

[2020-07-06 11:07] Aldrog commented on #72
It's supported in GCC since version 7 and in Clang since version 3.9.

Yes, it's used differently than Q_UNUSED. I don't find it weird 'cause I'm used to write non-Qt C++17 code :).
[According to C++ Core Guidelines](https://isocpp.github.io/CppCoreGuidelines/CppCoreGuidelines#Rf-unused) you're supposed to make parameters that are not needed at all unnamed and `[[maybe_unused]]` is intended for ca

[2020-07-16 10:43] joks-arch opened #74 "password for liri session"
hello i download latest nightly iso for test: lirios-20200715-x86_64.iso
but when i boot my computer i can`t log in into wayland session - its ask for password
i can only log into weston session but nothing there only terminal.
i read old bugs and i see that many people have this issue with liri password

my computer specs:
intel i5-3470, 8GB ram, HD Graphics 2500 (integrated).
i normal use gnome

[2020-07-17 07:57] plfiorini commented on #73
@epsilon-0 AUR packages build on my VM...

[2020-07-17 08:32] plfiorini commented on #73
I'll see if I can make a graph with the dependencies so you know in which order you have to make packages

[2020-08-16 16:52] plfiorini opened #75 "Use QList instead of QVector"
See https://bugreports.qt.io/browse/QTBUG-84469
Looks like Qt 6 is going to use QList instead of QVector

[2020-08-22 04:21] #76 closed, assigned to nobody

[2020-09-30 10:50] luka177 opened #77 "undefined symbol"
## Expected Behavior
Liri-shell must start

## Current Behavior

It crashes
[code]

## Steps to Reproduce (for bugs only)

1.Get fedora 32 aarch64
2.sudo dnf copr enable plfiorini/liri-nightly
3.sudo dnf install -y \
    liri-networkmanager \
    liri-platformtheme \
    liri-power-manager \
    liri-pulseaudio \
    liri-screencast \
    liri-screenshot \
    liri-settings \
    liri-shell \

[2020-10-06 11:07] plfiorini commented on #77
As said on the chat a few days ago, the problem is caused by Qt removing a symbol in a non retrocompatible way.
Rebuilding `liri-shell` and `liri-wayland` fixed the issue.

[2020-10-06 11:07] #77 closed, assigned to plfiorini

[2020-10-26 11:11] plfiorini commented on #72
Qt Patch: https://codereview.qt-project.org/c/qt/qtbase/+/318600

[2021-01-23 18:44] sakuhanaX3 opened #78 "OS fails to load desktop in live media, SDDM theme does not exist"
## Expected Behavior

The SDDM theme should have loaded correctly, and the desktop should have not thrown an error.

## Current Behavior
The SDDM theme fails to load, and upon attempting to load into the desktop, it gives an error "Something went wrong and the desktop failed to load." The same issue happens on my other device (2013 MacBook Air) and a VM.

## Possible Solution

Booting into an olde

[2021-05-13 04:49] BraINstinct0 opened #79 "No Download"
LiriOS nightly image is missing from the server.

[2021-05-13 10:12] plfiorini commented on #79
Fixed thanks

[2021-05-13 10:12] #79 closed, assigned to nobody

[2021-05-13 10:53] BraINstinct0 commented on #79
Thanks for the quick response, looking forward to LiriOS's future!

[2021-10-14 08:06] Thomashighbaugh commented on #26
Google once had the motto "Do No Evil" while pioneering a system of monitoring individuals to make Big Brother from Orwell's 1984 green with envy. I don't think we should put too much stock in the musings of the copywriters that have to patch up logical inconsistencies from their absent minded and disjointed dev teams.

Also maybe you should consider that design paradigms like Material Design emer

[2022-04-11 01:01] buddhi-deep opened #81 "There's no files in your download server"
## Expected Behavior

There should be a download link in [here](https://repo.liri.io/images/nightly/)

## Current Behavior

Nightly and release folders are empty

## Possible Solution

don't know

## Steps to Reproduce (for bugs only)

[here](https://repo.liri.io/images/nightly/)

## Context

## Environment

[2022-10-27 22:49] pookiegoescrazy commented on #79
it isn't there again